// colors
$white: #FFFFFF; 
$black: #000000;
$blue: #2f64d6;
$yellow: #FFD521;
$orange: #F65132;
$pink: #ff81c1;
$grey: #808080;
$green: #00947E;
$brown: #D3AF7F;



// font-size
$_64px: 4rem;
$_56px: 3.5rem;
$_48px: 3rem;
$_42px: 2.625rem;
$_40px: 2.5rem;
$_38px: 2.375rem;
$_36px: 2.25rem;
$_34px: 2.125rem;
$_32px: 2rem;
$_30px: 1.875rem;
$_28px: 1.75rem;
$_26px: 1.625rem;
$_25px: 1.5625rem;
$_24px: 1.5rem;
$_23px: 1.4375rem;
$_22px: 1.375rem;
$_21px: 1.3125rem;
$_20px: 1.25rem;
$_19px: 1.1875rem;
$_18px: 1.125rem;
$_17px: 1.0625rem;
$_16px: 1rem;
$_15px: 0.9375rem;
$_14px: 0.875rem;
$_13px: 0.8125rem;
$_12px: 0.5rem;
